<div class="container m-5">
  <!-- welcome-sec -->
  <div class=" dash-sec-padding">
    <div class="container">
        <div class="dashboard-main-col bg-white t-border-radius">
            <div class="top-heading pt-5 px-5 brd-b-1">
                <h4 class="dashboard-title">Reset Password</h4>
            </div>
            <div class="main-col-content px-4 pb-5">
                <form [formGroup]="passwordForm">
                    <div class="">
                        <div class="company-info mt-5 px-4">
                            <div class="row">
                                <div class="col-md-12 col-lg-8">
                                    <!-- <h3 class="title-small">Password Change</h3> -->
                                    <div class="form-group row">
                                        <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
                                            <div *ngIf="formControls.password.errors" class="text-danger validation-text">
                                              <ul class="" style="padding-left: 15px;">
                                                  <li *ngIf="submitted && formControls.password.errors.required">This field is required</li>
                                                  <li *ngIf="formControls.password.errors.hasNumber">Must contain at least 1 number!</li>
                                                  <li *ngIf="formControls.password.errors.hasCapitalCase">Must contain at least 1 in Capital Case!</li>
                                                  <li *ngIf="formControls.password.errors.hasSmallCase">Must contain at least 1 Letter in Small Case!</li>
                                                  <li *ngIf="formControls.password.errors.hasSpecialCharacters">Must contain at least 1 Special Character!</li>
                                                  <li *ngIf="formControls.password.errors.minlength">Must be at least 8 characters!</li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm New Password</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" formControlName="confirmpassword"  [ngClass]="{ 'is-invalid': submitted && formControls.confirmpassword.errors }">
                                            <div  class="text-danger validation-text">
                                              <ul class="" style="padding-left: 15px;">
                                                <li *ngIf="submitted && formControls.confirmpassword.errors?.required">This field is required</li>
                                                <li *ngIf="passwordForm.errors?.passwordNotMatch && formControls.confirmpassword.touched">Password must be same</li>
                                            </ul>
                                            </div>
  
  
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-8">
                                            <button  (click)="submit()" class="btn bex-btn-primary w-100">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <!-- welcome-sec -->
  </div>
  