<div class="sec-common sec-bg sec-padding">
    <div class="container">
       <!-- step-wrap -->
       <div class="content px-5 mt-5 text-center">
          <h4>Next Step</h4>
          <div class="row mt-5">
             <div class="col-lg-4 my-4">
                <div class="step-wrap">
                   <span>01</span>
                   <div class="step-img-wrap">
                      <img src="assets/images/layout.png" alt="">
                   </div>
                   <p>We will Provide the mockup of the 
                      product branding.
                   </p>
                </div>
             </div>
             <div class="col-lg-4 my-4">
                <div class="step-wrap">
                   <span>02</span>
                   <div class="step-img-wrap">
                      <img src="assets/images/tshirt.png" alt="">
                   </div>
                   <p>We will sent the picture of printed
                      Product.
                   </p>
                </div>
             </div>
             <div class="col-lg-4 my-4">
                <div class="step-wrap">
                   <span>03</span>
                   <div class="step-img-wrap">
                      <img src="assets/images/physical-inspection.png" alt="">
                   </div>
                   <p>After that we will sent the product for
                      Physical inspection.
                   </p>
                </div>
             </div>
             <div class="col-lg-12 mt-4">
                <button class="btn iot-btn-secondary" routerLink="/cart">Continue</button>
             </div>
          </div>
       </div>
       <!-- step-wrap -->
    </div>
 </div>