<div class="row h-100 m-0">
	
	<div class="col-lg-6 p-0">
		<div class="signup-left-col">
			<!-- <h3>Let's bring your retail business with</h3> -->

		<h2 style="color:black;" >Welcome<br />
				To
				
				<!-- <img src="assets/images/ek-matra-logo.png" alt="Ekmatra Logo" class="img-fluid"> -->
			</h2>
			<b><h1 style="letter-spacing: 1px; font-weight: bold; font-size: 40px!important;text-align: center;font-style: italic;"> EKMATRA</h1></b>

			<!-- <p>India's No.1 B2B Reseller platform</p> -->
			<ul class="list-unstyled sign-up-list mt-4 mb-0">
				<li>
					<span class="material-icons">
						task_alt
					</span>Handpicked Gifting Products.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>1 Min Customizable Catalogue.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Live Stock Check.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Get Sample Before Buying.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Doorstep Delivery.
				</li>
				<!-- <li>
					<span class="material-icons">
						task_alt
					</span>Buy Samples at the Bulk Price.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Dedicated Account Manager.
				</li> -->
			</ul>
		</div>

	</div>
	<div class="col-lg-6 align-self-center p-0">
		<div id="signup_wrap" class="signup-wrap h-100 p-4" *ngIf="loginForms">
			<div class="row">
				<div class="col-md-12">
					<h3 class="dialog-title">{{'SignIn'| translate}}</h3>
				</div>
			</div>

		

			<!-- <div class="row">
				<div class="col-md-12">
				<h3 class="dialog-title">Phone Number Register</h3> 
				</div>
			</div> -->
      <!----------------------------- Login with email ------------------------------------------->
      <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" novalidate *ngIf="emailForm" class="mb-0">
        <div class="form-group">
           <mat-form-field appearance="outline" class="">
              <mat-label>{{'Email'| translate}}</mat-label>
              <input matInput placeholder="Enter email or phone number" type="text" formControlName="email">
           </mat-form-field>
           <p class="text-danger" *ngIf="email.touched && !email.valid && email.errors?.required">
             {{'Email_Required_Msg'| translate}}
           </p>
           <p class="text-danger" *ngIf="email.dirty && email.errors?.pattern">
             {{'Email_Pattern_Msg'| translate}}
           </p>
        </div>
        <div class="form-group">
           <mat-form-field appearance="outline" class="">
              <mat-label>{{'Password'| translate}}</mat-label>
              <input matInput placeholder="{{'Password'| translate}}" [type]="passwordHide ? 'password' : 'text'" formControlName="password">
              <span style="cursor:pointer" mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" 
              [attr.aria-pressed]="passwordHide">
               <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
           </mat-form-field>
           <p class="text-danger" *ngIf="password.touched && !password.valid && password.errors?.required">
             {{'Password_Required_Msg' | translate}}
           </p>
           <!--<p class="text-danger" *ngIf="password.touched && !password.valid && password.errors?.pattern">
             Minimum eight characters, at least one uppercase letter, one lowercase letter and one number & Special characters
           </p>-->
        </div>
        <div class="form-group d-flex flex-wrap justify-content-between">
           <div class="slide-check">
           </div>  
           <div class="forget-link">
              <button mat-dialog-close (click)="openForgotPass()" class="link_btn">{{'ForgetPassword'| translate}}?</button>  
           </div>
        </div>
        <div class="form-group">
           <button mat-raised-button [disabled]="isLoginProcessing" type="submit"
           class="btn iot-btn-primary w-100">
           <mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
           <span *ngIf="!isLoginProcessing">{{'Sign In' | translate}}</span>
         </button>
        </div>
     </form>

		 <!----------------------------- Login with phone number ------------------------------------------->
  
     <form [formGroup]="loginFormWithPhone" (ngSubmit)="handlePhoneSubmit()" novalidate *ngIf="!emailForm && !optForm" class="mb-0">
      <div class="form-group">
         <mat-form-field appearance="outline" class="">
            <mat-label>{{'Phone number'| translate}}</mat-label>
            <input matInput placeholder="{{'Phone number'| translate}}" type="number" formControlName="tel" required max="9999999999">
         </mat-form-field>
         <p class="text-danger" *ngIf="phoneCtrl.touched && !phoneCtrl.valid && phoneCtrl.errors?.required">
           {{'Phone_Required_Msg' | translate}}
         </p>
         <p class="text-danger" *ngIf="phoneCtrl.touched && phoneCtrl.errors?.pattern">
           {{'Phone_Pattern_Msg' | translate}}
         </p>
        
         <p class="text-danger" *ngIf="phoneCtrl.touched && phoneCtrl.errors?.min">
           {{'Phone_Number_Msg' | translate}}
       </p>
      </div>
      <div class="form-group">
         <button mat-raised-button [disabled]="isLoginProcessing" type="submit"
         class="btn iot-btn-primary w-100">
         <mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
         <span *ngIf="!isLoginProcessing">{{'Submit' | translate}}</span>
       </button>
      </div>
   </form>
    <!----------------------------- Login with otp ------------------------------------------->
  
    <form [formGroup]="optLoginForm" (ngSubmit)="handleOtpSubmit()" novalidate *ngIf="optForm" class="mb-0">
      <p class="mb-3">
        {{'OTP_Msg' | translate}} {{loginFormWithPhone.value.tel}}.  {{'OTP_Msg1' | translate}}.</p>
     <div class="form-group">
        <mat-form-field appearance="outline" class="">
           <mat-label>{{'OTP'| translate}}</mat-label>
           <input matInput placeholder="{{'OTP'| translate}}" type="number" formControlName="otp" required max="999999">
        </mat-form-field>
        <p class="text-danger" *ngIf="otpCtrl.touched && !otpCtrl.valid && otpCtrl.errors?.required">
          {{'OTP_Required_Msg' | translate}}
        </p>
        <p class="text-danger" *ngIf="otpCtrl.touched && otpCtrl.errors?.pattern">
          {{'INVALID_OTP' | translate}}
        </p>
        <p class="text-danger" *ngIf="otpCtrl.touched && otpCtrl.errors?.max">
          {{'OTP_Pattern_Msg' | translate}}
        </p>
     </div>
     <div class="form-group">
        <button mat-raised-button [disabled]="isLoginProcessing" type="submit"
        class="btn iot-btn-primary w-100">
        <mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
        <span *ngIf="!isLoginProcessing">{{'Submit' | translate}}</span>
      </button>
     </div>
  </form>
  <p class="text-center">{{'OR' | translate}}</p>
  <button (click)="toggleForm('phone');" *ngIf="emailForm && !optForm"
        class="btn iot-btn-primary w-100">{{'Login_With_Otp' | translate}}</button>
  <button (click)="toggleForm('email');" *ngIf="!emailForm && !optForm"
        class="btn iot-btn-primary w-100">{{'Login_With_Email' | translate}}</button>
  <!--<button (click)="toggleForm('otp');" *ngIf="optForm"
              class="btn iot-btn-primary w-100">{{'Change_Phone_Number' | translate}}</button>-->
  <p class="text-center mb-0" *ngIf="!optForm">{{'Donthaveaccount' | translate}}? 
    <button mat-dialog-close (click)="showSignup()" class="link_btn">{{'SignUp' | translate}}</button> 
  </p>

  <p class="text-center mb-0" *ngIf="!emailForm && optForm">Already have an account?
    <button (click)="toggleForm('email');" class="link_btn">Sign In</button> 
  </p>


			


			
		</div>
	</div>
</div>