.language-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    select.form-control {
        border: 1px solid #e0e0e0;
        padding: 0 10px;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        height: 40px;
        cursor: pointer;
        box-shadow: 2px 2px 7px 2px #e2e0e0;
    }
}
.signin-dialog{
    .mat-dialog-content{
        overflow: auto;
        max-height: 100%;
        
    }

    .dialog-wrap{
        padding: 0 !important;
    }
    .mat-dialog-container {
       
        width: 100% !important;
       
    } 
    

}

