
<div class="auth-wrapper container">
    <!-- [ reset-password ] start -->
    <div class="auth-content">
      <div class="card">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
              <h4 class="mb-3 f-w-400">Reset your password</h4>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-mail"></i></span>
  
                </div>
                <input type="email"  [formControl]="email" class="form-control" placeholder="Email address" required>
              </div>
              <div class="text-danger text-left ml-4" *ngIf="submitted&&email.invalid">{{getErrorMessage()}}</div>
  
              <button class="btn btn-block btn-primary mb-4" (click)="submit()">Reset password</button>
              <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ reset-password ] end -->
  </div>
  