<footer class="footer-main pb-0">
    <div class="container">
        <div class="row mb-4">
            <!-- <div class="col-lg-4">
                <div class="footer-col brdr-r">
                    <h4>Careers</h4>
                    <div>
                        <p>We are always looking for passionate
                            team mates to join us in our mission.</p>
                            <a href="javascript:(void)" class="btn iot-btn-primary my-0">Join Us</a>
                    </div>
                    
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled footer-list">
                        <li> <a href="javascript:(void)" routerLink="/contact-us"> Contact Us </a> </li>
                        <li> <a href="javascript:(void)" routerLink="/about-us"> About Us </a> </li>
                        <li> <a href="javascript:(void)" routerLink="/blog"> Blog </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul class="list-unstyled footer-list">
                        <li> <a href="javascript:(void)" [routerLink]="['/help_support']" routerLinkActive="router-link-active">Help & Support</a></li>
                        <li> <a href="javascript:(void)" [routerLink]="['/feedback_support']" routerLinkActive="router-link-active">Feedback</a></li>
                        <li> <a target='_blank' [href]="termsUrl"> Terms & Condition </a></li>
                        <li> <a target='_blank' [href]="privacyUrl"> Privacy Policy </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-col">
                    <h4>Policy</h4>
                    <ul class="list-unstyled footer-list">
                        <li> <a href="javascript:(void)" routerLink="/shipping-policy"> Shipping Policy </a> </li>
                        <li> <a href="javascript:(void)" routerLink="/return-policy"> Return, Refund and Cancellation </a> </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-6">
                <div class="footer-col">
                    <h4>Help</h4>
                    <ul class="list-unstyled footer-list">
                        <li> <a href="javascript:(void)"> FAQ </a> </li>
                        <li> <a href="javascript:(void)"> Sell on Udaan </a> </li>
                        <li> <a href="javascript:(void)"> Terms of Use </a> </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-lg-2 col-md-6">
                <div class="footer-col">
                    <h4>Policy</h4>
                    <ul class="list-unstyled footer-list">
                        <li> <a href="javascript:(void)"> Returns </a> </li>
                        <li> <a href="javascript:(void)"> Undelivered Shipment (RTO) </a> </li>
                        <li> <a href="javascript:(void)"> Warehouse Returns to Seller </a> </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-lg-2 col-md-6">
                <div class="footer-col">
                    <h4>Support</h4>
                    <ul class="list-unstyled footer-list">
                        <li> <a href="javascript:(void)"> Facebook </a> </li>
                        <li> <a href="javascript:(void)"> Twitter </a> </li>
                        <li> <a href="javascript:(void)"> Blog </a> </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container container-large">
        <div class="footer-btm text-center">
            <p class="mb-0">© {{currentYear}} {{appName}} | All Rights Reserved.</p>
        </div>
    </div>
</footer>