
<div class="modal-body">
    <button class="close" matDialogClose>  <span aria-hidden="true">&times;</span></button>
    <div class="container-contact2">
        <div class="wrap-contact2  px-3 pb-3 pt-3">
            <div class="login-heading-wrap">
                <h2 class="login-title">{{id === 'password' ? 'Forgot Password' : 'Re-Send Email Verification Link'}}</h2>
                <p *ngIf="id === 'password'" class="login-subtitle">If you've forgotten your account password, you can have a password reset<br> reminder email sent to the primary email addresses.
                </p>
                <p *ngIf="id !== 'password'" class="login-subtitle">If you've lost your account verification link, you can Re-send link<br> reminder email sent to the primary email addresses.
                </p>
            </div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmit()" novalidate >
               
                <div class="form-group">
                    <mat-form-field appearance="outline" class="">
                       <mat-label>Email</mat-label>
                       <input matInput placeholder="Email" type="email" formControlName="email">
                    </mat-form-field>
                    <p class="text-danger" *ngIf="forgotPasswordForm.get('email').touched && 
                    !forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').errors?.required">
                      Email is required.
                    </p>
                    <p class="text-danger" *ngIf="forgotPasswordForm.get('email').dirty 
                    && forgotPasswordForm.get('email').errors?.email">Invalid email
                      address
                    </p>
                 </div>

                <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn iot-btn-primary w-100">SUBMIT</button>
                <p class="text-center mt-4"> <button mat-dialog-close (click)="showSignup()" class="link_btn">Sign Up</button></p>
            </form>
        </div>
    </div>
</div>
