<div class="sec-common sec-bg sec-padding">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-lg-12">
               <h3 class="inner-sec-title my-0"></h3>
            </div>
         </div>
       <div class="content mt-4 p-0 cart-content address-content">
        <div class="py-4 px-5">
            <button mat-raised-button class="w-100 address-btn" routerLink="/change-address">Change or Add Address</button>
         </div>
          <div class="category-list cart-list" *ngIf="!addressStatus">
            <h5 class="px-5">Select Delivery Address</h5>
             <div class="address-wrap">

                <div class="select-address-radio" *ngFor="let addresses of addressListArray">
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" 
                            value="option1" (change)="selectAddress(addresses)" [checked]="addresses.is_default === 'yes'"
                            >
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                      </div>
                      <div class="flex-grow-1">
                        <p class="primary-color mb-0">{{addresses.title}}  
                            <button mat-icon-button class="edit-address-btn" routerLink="/edit-address/{{addresses.id}}">
                                <span class="material-icons">
                                    edit
                                </span>
                            </button>
                        </p>
                        <p class="mb-0">{{addresses.address_line_1}}</p>
                      </div>
                </div>

             </div> 
             <div class="btm-btn-wrap">
                <button class="cart-btn">
                    <span (click)="deliveryDetail()">Delivery Detail</span>
                </button>
                <button class="cart-btn proceed-btn rounded-left-0" (click)="saveAddress()">
                    <mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
                    <span>Save</span>
                </button>
             </div>
          </div>

          
          <div class="category-list cart-list" *ngIf="addressStatus">
            <span style="color:red; font-size: 20px;margin-left: 40%;">No address found</span>
         </div> 
       </div>
    </div>
 </div>