<div id="change_wrap" class="change-wrap" *ngIf="passwordFrom">
   <h3 class="dialog-title">{{'change_password'| translate}}</h3>

   <form [formGroup]="passwordResetForm">
      <alert></alert>
      <div class="form-group">
         <mat-form-field appearance="outline" class="">
            <mat-label>{{'old_password'| translate}}</mat-label>
            <input matInput formControlName="current_password" id="oldPassword"
               [ngClass]="{ 'is-invalid': submitted && passwordcontrol.current_password.errors }">
            <ul class="text-danger validation-text" style="padding-left: 15px;">
               <li *ngIf="submitted && passwordcontrol.current_password.errors?.required">
                  {{'Field_Required_Msg'| translate}}
               </li>
            </ul>
         </mat-form-field>
      </div>
      <div class="form-group">
         <mat-form-field appearance="outline" class="">
            <mat-label>{{'New_Password'| translate}}</mat-label>
            <input matInput formControlName="password" id="newPassword"
               [ngClass]="{ 'is-invalid': submitted && passwordcontrol.password.errors }">
            <div *ngIf="passwordcontrol.password.errors" class="text-danger validation-text">
               <ul class="" style="padding-left: 15px;">
                  <li *ngIf="submitted && passwordcontrol.password.errors.required">
                     This field is required
                  </li>
                  <li *ngIf="passwordcontrol.password.errors.hasNumber">
                     Must contain at least 1 number!
                  </li>
                  <li *ngIf="passwordcontrol.password.errors.hasCapitalCase">
                     Must contain at least 1 in Capital Case!
                  </li>
                  <li *ngIf="passwordcontrol.password.errors.hasSmallCase">
                     Must contain at least 1 Letter in Small Case!
                  </li>
                  <li *ngIf="passwordcontrol.password.errors.hasSpecialCharacters">
                     Must contain at least 1 Special Character!
                  </li>
                  <li *ngIf="passwordcontrol.password.errors.minlength">
                     Must be at least 8 characters!
                  </li>
               </ul>
            </div>
         </mat-form-field>
      </div>
      <div class="form-group">
         <mat-form-field appearance="outline" class="">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirm_password" class="form-control" id="confirm_password"
               [ngClass]="{ 'is-invalid': submitted && passwordcontrol.confirm_password.errors }">
            <ul class="text-danger validation-text" style="padding-left: 15px;">
               <li *ngIf="submitted && passwordcontrol.confirm_password.errors?.required">
                  This field is required</li>
               <li *ngIf="passwordResetForm.errors?.passwordNotMatch && passwordcontrol.confirm_password.touched">
                  Password must be same</li>
            </ul>
         </mat-form-field>
      </div>
      <div class="form-group">
         <a href="javascript:(void)" (click)="submitPassword()" class="btn iot-btn-primary w-100">
            Update Password
         </a>
      </div>
   </form>
</div>