<div class="sec-wrapper sec-padding">
   <div class="container container-large">
      <div class="row align-items-center mb-4">
         <div class="col-lg-12">
            <h3 class="inner-sec-title my-0">Categories</h3>
         </div>
      </div>
      <div class="content bg-white py-4 px-5 scroll_height">
         <div class="text-center " style="color: #F16A2A;" *ngIf="connectLoader">
            <div class="spinner-border" role="status">
               <span class="sr-only">Loading...</span>
            </div>
         </div>
         <div class="product-row category-row">
            <div class="product-col category_dropdown_list" *ngFor="let item of sub_items;let key=index;">
               <a *ngIf="item.product_category" >
                  <div>
                     <img *ngIf="item.product_category_image_150x150" class="product-col-img" style="cursor:pointer;"
                        [routerLink]="['/filtered-products',item.id]" src="{{item.product_category_image_150x150}}"
                        alt="">
                     <img *ngIf="item.product_category_image_150x150 == ''" class="product-col-img"
                        style="cursor:pointer;" [routerLink]="['/filtered-products',item.id]" src="{{default_image}}"
                        alt="">
                     <p>{{item.product_category}}</p>
                  </div>
               </a>
               <ul class="dropdown-menu dropdown-menu-end fade-down" *ngIf="item.child.length > 0">
                  <li *ngFor="let sub_item of item.child"><a class="dropdown-item" [routerLink]="['/filtered-products',sub_item.id]" > {{sub_item.product_category}} </a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>