<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger text-center">
                <h4 class="card-title">Page not found</h4>
                <!-- <p class="card-category">Created using Roboto Font Family</p> -->
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="row">
                        <div class="tim-typo">
                            <h2>
                                <span>
                                    OOP'S
                                </span>
                                <br>
                                <small>The "page" you are looking for is not found.</small>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>