<div class="sec-common catalogue-sec sec-bg sec-padding">
   <!-- catalogue -->
   <div class="container container-large">
      <div class="content p-0 mt-5 rounded-wrap-btm">
         <div class="row align-items-center mb-3 search-row px-5 pt-2">
            <div class="col-lg-5">
               <h3 class="inner-sec-title my-0">Addresses</h3>
            </div>
            <div class="col-lg-7 text-right">
                <button class="btn iot-btn-secondary rounded-btn mb-3 mb-md-0" 
                [routerLink]="['/change-address']">Add Address</button>
            </div>
         </div>
         <div class="category-list cart-list">
            <div class="category-list-detail">
               <div class="product-category-info">
                     <div class="category-info-txt cart-info-txt">
                        <h5>Home</h5>
                        <p class="price-label">7 Anand nagar,ujjain road</p>
                        <p class="price-label branding-type-label">Dewas, Madhya Pradesh, 455001</p>
                        <!-- <p class="price-label branding-type-label">Min Qty: <span>1 Pcs</span> </p> -->
                     </div>
                  
               </div>
               <div class="cart-remove-col">
                  <button mat-button>Remove</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>