<div class="sec-common sec-bg sec-padding">
    <div class="container">
       <!-- product-branding -->
       <div class="content px-5 mt-5">
          <div class="text-center product-branding">
             <div class="branding-img">
                <img src="assets/images/product-branding.png" alt="" class="img-fluid">
             </div>
             <p>Do You Want Branding On This Product?</p>
             <div class="branding-btn">
                <button class="btn iot-btn-secondary" routerLink="/branding-type">Yes</button>
                <button class="btn iot-btn-dark">No</button>
             </div>
          </div>
       </div>
       <!-- product-branding -->
    </div>
 </div>