<div class="sec-common sec-bg sec-padding">
   <div class="container container-large">
     <div class="row align-items-center mb-4">
        <div class="col-lg-12">
           <h3 class="inner-sec-title my-0">Order Details</h3>
        </div>
     </div>
      <div class="content mt-5 px-0">
         <div class="category-list cart-list">
            <div class="category-list-detail">
              <div class="cart-remove-col w-100 mb-4 text-left" *ngIf="orderDetail">
                 <div class="row">
                   <div class="col-md-4">
                     <p class="text-left">Order No: #{{tracking_number}}</p>
                      <p class="text-left" *ngIf="orderDetail.order_status === 'pending_verification'">Order Status: Pending verification</p>
                      <p class="text-left" *ngIf="orderDetail.order_status != 'pending_verification'">Order Status: {{orderDetail.order_status | titlecase}}</p>
                      <p class="text-left" *ngIf="orderDetail.payment_status === 'partial_paid'">Payment Status: Partial paid</p>
                      <p class="text-left" *ngIf="orderDetail.payment_status != 'partial_paid'">Payment Status: {{orderDetail.payment_status | titlecase}}</p>
                      <p class="text-left" *ngIf="paymentMethodType == 'online'">Payment Method: Online</p>
                      <p class="text-left" *ngIf="paymentMethodType == 'manual'">Payment Method: Manual</p>
                   </div>

                   <div class="col-md-4">
                     <h5>Delivery Address</h5>
                     <p class="primary-color mb-0">{{orderDetail?.user_address?.title}}</p>
                     <p class="delivery-address-text">
                        {{orderDetail?.user_address?.address_line_1}}
                     </p>
                   </div>

                   <div class="col-md-4">
                      <p>Created at: ({{orderDetail.created_at | date}})</p>
                      <a href="javscript:(void)" [routerLink]="['/tracking-status', orderId]"
                      class="btn btn-red iot-btn-primary view-detail-btn" 
                      *ngIf="orderDetail.order_shipments && orderDetail.order_shipments.length>0">
                      Tracking status</a> 
                   </div>
                 </div>
             </div>
               <div class="table-responsive">
                 <table class="table order-detail-table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">GST</th>
                            <th class="text-center">Branding</th>
                            <th class="text-center">Branding Amount</th>
                            <th class="text-center">Unit Price</th>
                            <th class="text-center">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orderItemDetail; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{order.product_variant.variant_name}}</td>
                            <td class="text-center">{{order.quantity}}</td>
                            <td class="text-right">{{toFixedFun(order.tax) | number}} ({{order.gst_rate}})%</td>
                            <td class="text-center">{{order.is_branding | titlecase}}</td>
                            <td class="text-right" *ngIf="order.branding_amount != 0">{{toFixedFun(order.branding_amount*order.quantity) | number}}/-</td>
                            <td class="text-right" *ngIf="order.branding_amount === 0">{{toFixedFun(order.branding_amount) | number}}</td>
                            <td class="text-right">{{toFixedFun(order.sale_price) | number}}/-</td>
                            <td class="text-right">{{toFixedFun(order.sale_price*order.quantity+order.branding_amount*order.quantity) | number}}/-</td>
                        </tr>
                        <tr>
                           <td colspan="6"></td>
                           <td><strong>Subtotal</strong></td>
                           <td class="text-right">{{toFixedFun(TotalProductPrice) | number}}/-</td>
                        </tr>
                        <tr>
                           <td colspan="6"></td>
                           <td><strong>Total Tax</strong></td>
                           <td class="text-right">{{toFixedFun(TotalGST) | number}}/-</td>
                        </tr>
                        <tr>
                           <td colspan="6"></td>
                           <td><strong>Delivery Charge</strong></td>
                           <td class="text-right" *ngIf="deliveryCharges>0">{{toFixedFun(deliveryCharges) | number}}/-</td>
                           <td class="text-right" *ngIf="deliveryCharges == 0">As applicable</td>
                        </tr>
                        <tr>
                           <td colspan="6"></td>
                           <td><strong>Total</strong></td>
                           <td class="text-right">{{toFixedFun(total_amount) | number}}/-</td>
                        </tr>
                        <tr>
                           <td colspan="6"></td>
                           <td><strong>Paid Amount</strong></td>
                           <td class="text-right">{{toFixedFun(paid_amount) | number}}/-</td>
                        </tr>
                        <tr>
                           <td colspan="6"></td>
                           <td><strong>Pending Amount</strong></td>
                           <td class="text-right" *ngIf="pending_amount>0 && orderDetail?.order_status != 'cancelled'">
                              <span>
                                 {{toFixedFun(pending_amount) | number}}/-
                              </span>
                              <a href="javscript:(void)" (click)="payment()" class="btn btn-red iot-btn-primary">Paynow</a>
                           </td>
                           <td class="text-right" *ngIf="pending_amount <= 0 && orderDetail?.order_status != 'cancelled'">
                                 0
                           </td>
                           <td class="text-right" *ngIf="orderDetail?.order_status == 'cancelled'">
                              <span>
                                 {{toFixedFun(pending_amount) | number}}/-
                              </span>
                           </td>
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
         </div>
      </div>
   </div>
</div>
