<div class="sec-common sec-bg sec-padding">
    <div class="container">
<div class="content mt-4 p-0 cart-content address-content">
    <div class="row p-5">
       <div class="col-lg-12">
             <div class="thanks-wrap text-center">
                <div class="thumb-img my-4">
                   <img src="assets/images/thumbs-up.png" alt="" class="img-fluid">
                </div>
                <h1>Thank you!</h1>
                <p>Your order have been placed successfully. <br></p>
             </div>
       </div>
    </div>
    <div class="btm-btn-wrap">
       <button class="cart-btn proceed-btn" routerLink="/home">Go To Homepage</button>
    </div>
 </div>
 </div>
 </div>