<!-- notification -->
<div class="notification-wrap mt-5">
    <div class="container container-large">
        <mat-tab-group class="cstm-mat-group">
            <mat-tab label="Notification" class="cstm-mat-label">
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
            </mat-tab>
            <mat-tab label="Announcements" class="cstm-mat-label">
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
               <div class="notification-info-wrap">
                  <div class="notification-info">
                     <p>Your order has been delivered successfully.</p>
                     <p class="notification-time-label"><span class="primary-color mr-3">Apr 16</span> 07:20 pm</p>
                  </div>
                  <button>
                     <span class="material-icons">
                     close
                     </span>
                  </button>
               </div>
            </mat-tab>
         </mat-tab-group>
    </div>
 </div>
<!-- notification -->