<div class="contact-modal-content" >
    <div class="modal-dialog modal-dialog-centered modal-lg my-0">
       <div class="modal-content">
          <button class="close" matDialogClose> <span aria-hidden="true">&times;</span></button>
          <div class="alert_pop_img">
             <span class="icon-Group-74"></span>
          </div>
          <div class="modal-body">
             <h5 class="alert-head">{{id.title}}</h5>
             <p class="alert-text"> {{id?.msg}} </p>
            <p> {{id?.sub}}</p>
          </div>
       </div>
    </div>
  </div>