<div class="sec-common catalogue-sec sec-bg sec-padding">
    <!-- profile-wrap -->
       <div class="container container-large">
          <div class="profile-wrap">
<!-- manage-team -->
<div class="content px-0 pb-0 manage-team mt-5">
    <div class="px-4">
       <p>No of member in the team</p>
    </div>
    <div class="manage-team-header">
       <div class="owner-info">
          <span><img src="assets/images/profile-img.jpg" alt=""></span>
          <div class="owner-detail">
             <h4>Cody marchant</h4>
             <p>+91 1234567890</p>
          </div>
       </div>
       <h6>Owner</h6>
    </div>
    <div class="px-5 py-4">
       <p>You may assign any of your team member as the primary contact. All call related to order from your organization will be redirected to the primary contact.</p>
    </div>
    <ul class="list-unstyled">
       <li class="px-5 py-2">
          <span class="mr-4"><strong>Only View</strong> </span> 
          <mat-slide-toggle></mat-slide-toggle>
       </li>
       <li class="px-5 py-2">
          <span class="mr-4"><strong>Full Admin Rights</strong></span> 
          <mat-slide-toggle></mat-slide-toggle>
       </li>
    </ul>
    <button class="btn iot-btn-secondary w-100 my-0">Invite to Team</button>
 </div>
 <!-- manage-team -->
 </div>
 </div>
 </div>