.sec-banner {
    background-image: url(assets/images/top-banner.jpg);
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.sec-banner h2 {
    color: #fff;
    font-size: 40px;
}