h4 {
    font-size: 18px;
font-weight: 400;
line-height: 30px;
}
h3 {
font-size: 23px;
}
.badge  {
background-color: #f3f3f3;
margin-left: 20px;
color: #bdbbbb;
font-weight: 500;
}
.form-group select {
margin-top: 0px;
font-size: 15px;
height: calc(1.1em + 0.75rem + 2px);
background-color: #e3e3e3;
color: #333;
font-weight: 500;
}
.my-auto {
margin: 0 auto!important;
width: 25%;
}
.my-auto span {
font-size: 16px;
font-weight: 500;
}
.justify-content-between .pl-1 {
line-height: 16px;
}
.justify-content-between .pl-1 span {
font-size: 12px;
}
.mr-50 {
margin-top: 50px;
}
.btn-grn {
width: 60%;
margin: 45px 0 20px 70px;
background: #36e517;
border: none;
padding: 12px;
font-size: 20px;
font-weight: 600;
}
.btn-org {
width: 60%;
margin: 0px 0 20px 70px;
 background: #ffac14;
border: none;
padding: 12px;
font-size: 20px;
font-weight: 600;
}
.btn-gry {
width: 60%;
margin: 0px 0 20px 70px;
 background: #c1c1c1;
border: none;
padding: 12px;
font-size: 20px;
font-weight: 600;
}
.light-btn {
background-color: #e9e9e9;
border: none;
padding: 12px 30px;
font-weight: 500;
margin-right: 10px;
}
.dark-btn {
background-color: #cbcbcb;
border: none;
padding: 12px 30px;
font-weight: 500;
margin-right: 10px;
}
.chk-btn {
background-color: #40e921;
border: none;
padding: 12px 30px;
font-weight: 500;
}
.tab-btn {
margin-bottom: 20px;
}
.bd-box {
border-left: 1px solid #ccc;
margin-left: 12%;
padding: 20px;
}
.bd-box h2 { font-size: 28px; }
.bd-box ul { padding-left: 22px; }
.bd-box ul li {
font-size: 18px;
color: #666;
line-height: 40px;
}
.emt-box {
height: 50px;
background: #bbb6b6;
margin: 20px 0;
}
.grn-box { background: #a5f7e8; text-align: center; }
.pink-box { background: #fdaef0; text-align: center; }
.yellow-box { background: #ebed71; text-align: center; padding: 5px; }
.grn-box h5, .pink-box h5, .yellow-box h5 { padding-top: 20px; }
.grn-box th, .pink-box th, .yellow-box th { font-size: 17px; font-weight: 500; border-bottom: none!important;  }
.grn-box tr, .grn-box td, .pink-box tr, .pink-box td, .yellow-box tr, .yellow-box td { border-bottom: none!important; border-top: none!important; padding: 2px 0;}
.product-table td { border-top: none!important; border-bottom: 1px dotted #ccc; font-size: 18px;
color: #999; font-weight: 500;  }
.product-table tr:first-child { border-top: 1px dotted #ccc;  }
.product-table tr td:first-child { border-right: 1px dotted #ccc; }
.review-box .col-4, .review-box .col-8 { padding-left: 50px; margin-top: 30px; }
.review-box h4 { font-weight: 500; font-size: 22px; }
.review-table tr, .review-table td { border: none; }
.review-table a { font-weight: 500; }
.review-box h6 {
border-bottom: 1px solid #e9e9e9;
padding-bottom: 20px;
}
.feature-table h6 {
border-bottom: 1px solid #e9e9e9;
padding-bottom: 10px;
}

.feature-table tr, .feature-table td { border: none; }
.feature-table td { padding: 0 5px; font-size: 14px; }

.product-box { padding-top: 20px; }
.product-box p { font-weight: 500; margin-bottom: 30px; }
.product-box a, .qa-box .qa-btn {
border: 1px solid #999;
color: #333;
padding: 6px 70px;
font-weight: 500;
font-size: 15px;
border-radius: 8px;
}
.images-box .col-3 {
max-width: 18%;
float: left;
padding: 20px 5px 0;
}
.images-box a { float: left; width: 100%; }
.images-box .col-12 { float: left; margin-bottom: 20px; }
.images-box button {
background: #deebea;
border: none;
border-bottom: 1px solid #bdbdbd;
margin: 10px 6px;
font-size: 14px;
padding: 6px 20px;
font-weight: 500;
color: #444;
}
.images-box h4 {
margin-left: 15px;
}
.dropdown { margin-left: 15px; }
.dropdown button {
background: #e7e6e6;
border: 1px solid #ccc;
padding: 5px 20px;
font-size: 12px;
margin-bottom: 25px;
}
.icn-reviews { margin-left: 15px; }
.icn-reviews .img-fluid {
height: 40px;
width: 40px;
border-radius: 50%;
margin: 15px 15px 0 0;
}
.desc-review img { height: 20px; }
.qa-box h4 { font-weight: 700; font-size: 25px; }
.qa-box .col-8 {
margin: 40px auto;
}
.qa-content { margin-top: 30px; }
.qa-content span { font-size: 14px; }
.qa-content h5, .qa-content h6 { font-size: 16px; }
.qa-content .col-1, .qa-content .col-2, .qa-content .col-9 { float: left; padding: 20px; }
.qa-content .col-1 { text-align: center; border-right: 1px solid #ccc; padding: 20px;}
.qa-box input {
margin-top: 20px;
width: 90%;
border: 1px solid #999;
border-radius: 5px;
color: #999;
font-weight: 500;
font-size: 14px;
padding: 5px 10px;
}
.progress-bar{
    background-color: rgb(250, 148, 60)!important;
}