
<div class="row h-100 m-0">
	
	<div class="col-lg-6 p-0">
		<div class="signup-left-col">
			<!-- <h3>Let's bring your retail business with</h3> -->

		<h2 style="color:black;" >Welcome<br />
				To
				
				<!-- <img src="assets/images/ek-matra-logo.png" alt="Ekmatra Logo" class="img-fluid"> -->
			</h2>
			<b><h1 style="letter-spacing: 1px; font-weight: bold; font-size: 36px!important;text-align: center;font-style: italic;"> EK MATRA</h1></b>

			<!-- <p>India's No.1 B2B Reseller platform</p> -->
			<!-- <h1>Making Business Happier</h1> -->
			<ul class="list-unstyled sign-up-list mt-4 mb-0">
				<li>
					<span class="material-icons">
						task_alt
					</span>Handpicked Gifting Products.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>1 Min Customizable Catalogue.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Live Stock Check.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Get Sample Before Buying.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Doorstep Delivery.
				</li>
				<!-- <li>
					<span class="material-icons">
						task_alt
					</span>Buy Samples at the Bulk Price.
				</li>
				<li>
					<span class="material-icons">
						task_alt
					</span>Dedicated Account Manager.
				</li> -->
			</ul>
		</div>

	</div>
	<div class="col-lg-6 align-self-center p-0">
		<div id="signup_wrap" class="signup-wrap h-100 p-4" *ngIf="signupForms">
			<div class="row" *ngIf="phonum">
				<div class="col-md-12">
					<h3 class="dialog-title">{{'SignUp' | translate}}</h3>
				</div>
			</div>

			<!------------------- Add Phone Number  ---------------------->

			<div class="row" *ngIf="phonum">
				<div class="col-md-12">
					<!-- <h3 class="dialog-title">Phone Number Register</h3> -->
				</div>
			</div>
			<form *ngIf="phonum" [formGroup]="phoneForm" (ngSubmit)="phoneSubmitMethod()" novalidate>
				<div class="form-group">
					<mat-form-field appearance="outline" class="">
						<mat-label>{{'Phone' | translate }}</mat-label>
						<input matInput placeholder="{{'Enter Your Phone Number' | translate }}" type="text"
							formControlName="phone_number">
						
						
					</mat-form-field>
					<div>
						<small *ngIf="phoneForm.controls['phone_number'].invalid 
					&& (phoneForm.controls['phone_number'].dirty 
					|| phoneForm.controls['phone_number'].touched)" class="error">
						<mat-error *ngIf="phoneForm.controls['phone_number'].errors.required">
							{{'Phone_Required_Msg' | translate}}
						</mat-error>
						<mat-error *ngIf="phoneForm.controls['phone_number'].errors.pattern">
							Please enter valid phone number
						</mat-error>
					</small>

					</div>
				</div>
				<div class="form-group">
					<button mat-raised-button type="submit" [disabled]="phoneForm.invalid"
						class="btn iot-btn-primary w-100">
						<mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
						<span *ngIf="!isLoginProcessing">Next</span>
					</button>
				</div>
			</form>

			<!------------------- Phone OTP Verify ---------------------->

			<div class="row" *ngIf="otpshow">
				<div class="col-md-12">
					<h3 class="dialog-title">Phone Number OTP Verify</h3>
					<h4 *ngIf="!verify_phone_name">{{phoneForm.controls['phone_number'].value}}</h4>
					<h4 *ngIf="verify_phone_name">{{verify_phone_name}}</h4>
				</div>
			</div>

			<form *ngIf="otpshow" [formGroup]="phoneOtpForm" (ngSubmit)="phoneOtpMethod()" novalidate>
				<div class="form-group">
					<mat-form-field appearance="outline" class="">
						<mat-label>Phone OTP</mat-label>
						<input matInput placeholder="Enter Your  OTP" type="text" formControlName="otp_code">
						
					</mat-form-field>
					<div>
						<small *ngIf="phoneOtpForm.controls['otp_code'].invalid 
						&& (phoneOtpForm.controls['otp_code'].dirty 
						|| phoneOtpForm.controls['otp_code'].touched)" class="error">
							<mat-error *ngIf="phoneOtpForm.controls['otp_code'].errors.required">
								Please Enter your Otp.
							</mat-error>
						</small>
					</div>
				</div>
				<div class="form-group">
					<button mat-raised-button [disabled]="(isLoginProcessing || phoneOtpForm.invalid)" type="submit"
						class="btn iot-btn-primary w-100">
						<mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
						<span *ngIf="!isLoginProcessing">Next</span>
					</button>
				</div>
				<!-- <div class="d-flex align-item-center justify-content-between"> 
					<a (click)="resendVerification('phone');" class="text-capitalize"
					style="cursor:pointer;color:#c40000">
						<strong>Resend Code</strong>
					</a>
					<a (click)="changePhone();" class="text-capitalize" 
					style="cursor:pointer;color:#c40000">
						<strong>Change Phone Number</strong>
					</a>
				</div> -->
			</form>


			<!------------------- Custometr form   ---------------------->


			<form *ngIf="customer" [formGroup]="cutomerForm" (ngSubmit)="cutomerSubmit()" novalidate>

				<h3 class="dialog-title mb-4"> Customer Details Form</h3>

				<div class="form-group">
					<mat-form-field appearance="outline" class="">
						<mat-label>Name</mat-label>
						<input matInput placeholder="Full Name" type="text" formControlName="first_name">
					</mat-form-field>
				</div>

				<div class="form-group">
					<mat-form-field appearance="outline" class="">
						<mat-label>Company name</mat-label>
						<input matInput type="text" formControlName="business_name"
							placeholder=" Enter your Company name">
					</mat-form-field>
				</div>

				<div class="form-group">
					<mat-form-field appearance="outline" class="">
						<mat-label>Password' </mat-label>
						<input id="password" matInput placeholder="{{'Password' | translate }}"
							[type]="passwordHide ? 'password' : 'text'" formControlName="password"> 
					 <span style="cursor:pointer" mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
							[attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
							<mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
						</span>
						<small *ngIf="cutomerForm.controls['password'].invalid 
				  && (cutomerForm.controls['password'].dirty 
				  || cutomerForm.controls['password'].touched)" class="error">
							<mat-error *ngIf="cutomerForm.controls['password'].errors.required 
					  && !cutomerForm.controls['password'].errors.minlength">
								{{'Password_Required_Msg' | translate}}
							</mat-error>
							<mat-error *ngIf="cutomerForm.controls['password'].errors.pattern 
					 && !cutomerForm.controls['password'].errors.minlength">
								{{'Password_Pattern_Msg' | translate}}
							</mat-error>
							<mat-error *ngIf="cutomerForm.controls['password'].errors.maxlength">
								Maximum character limit is 30.
							</mat-error>
						</small>
					</mat-form-field>
				</div>

				<div class="form-group">
					<button mat-raised-button mat-dialog-close type="submit" [disabled]="cutomerForm.invalid"
						class="btn iot-btn-primary w-100" >
						<mat-spinner *ngIf="isLoginProcessing" [diameter]="20"></mat-spinner>
						<span>Submit</span>
					</button>
				</div>
			</form>

			<p *ngIf="!access_token" class="text-center">{{'haveaccount'| translate}}?
				<button mat-dialog-close (click)="showLogin()" class="link_btn">
					{{'SignIn' | translate}}
				</button>
			</p>
		</div>
	</div>
</div>