<div style="padding: 20px;">

<h4>Return, Refund and Cancellation</h4>

<p>Cancellations</p>

<p>Order can be cancelled before the shipment. After shipment it can be only RTO. Once order get cancelled amount will be refunded for 'prepaid orders'.
</p>

<p>Cancelation Criteria</p>

<p>
    1. Incorrect or Incomplete information regarding Customer's address (Street number, Landmark etc.) etc.
</p>

<p>
    2. In case of wrong product price or specification mentioned on Ekmatra.store

</p>

<p>
    3. Unavailability of products - in exceptional cases, if a product runs "On Request" with the vendor, the product will be cancelled.

</p>
<p>
    4. If area falls under "Non Serviceable zone" or "out of delivery area" by our Logistic Courier Partner even after placing the order in that case order can be cancelled.

</p>

<p>
    5. Suspected fraudulent information.
</p>

<p>
    Returns
</p>

<p>

In case, if you received a damaged product, it must be reported to us through Register email ID and sent it to via email at 
<a href="mailto: support@ekmatra.store">(support@ekmatra.store)</a> within 48 hours of delivery with an image of the damaged product along with the packaging pictures.
</p>

<p>
    Guidelines for Returns & Replacement:
</p>

<p>1. Product is damaged/defective.</p>
<p>2. Differ from the description on the website.</p>
<p>3. Wrong item delivered/Wrong Color/Wrong Size/Wrong Quantity.</p>
<p>4. Missing parts/accessories.</p>

<p>Return Eligibility</p>

<p>1. In case of returning the product, customer needs to inform us within 7 days of receiving the order. In case, if you received a damaged product, it must be reported to us within 48 hours of delivery.
</p>
<p>2. If the product is delivered defective or damaged, in that case, customer needs to inform us through Register email ID and sent it to 
    <a href = "mailto: support@ekmatra.store">(support@ekmatra.store)</a> or Call us at <br/>
    <a href="tel:7777051898">+91 7777051898</a> (Helpline Number) within 48 hours from the time of delivery.
</p>
<p>3. Products should be unused.
</p>
<p>4. All items must be returned in their original condition, with price tags intact, user manual, warranty cards, original accessories and in the original manufacturer’s box/packaging as delivered to you.
</p>
<p>5. Invoice should be available.
</p>
<p>6. Products marked as "non-returnable" on the product detail page cannot be returned such as Electronics, Cartridges, Safety, Tyres, Electricals & Car-care.
</p>
<p>Returning a Product
</p>
<p>There are 2 ways to Return the product. One is to return the product from our side where we send the courier partner and get the product picked up from customers. However, in some cases if we cannot provide return service then customer needs to send the product to us through India Post only. Once, the product is received by us, then we will reverse the courier charges.
</p>
<p>Steps to follow to Return a Product
</p>
<p>1. Customer needs to inform us through call/email within 7 days of receiving the order.
</p>
<p>2. Product should be unused.
</p>
<p>3. Invoice should be available.
</p>
<p>4. We will raise a request for Reverse pickup and try to arrange it from our end. Once the pickup is arranged our courier partner will collect the product within 2-3 business days.
</p>
<p>5. Customer needs to pack the product with Brand packing & paste the invoice on it.
</p>
<p>6. Customer will handover the product to the courier boy.
</p>
<p>7. Once the pick up is done, product will be sent to us by the courier partner.

</p>
<p>After receiving the product, quality check will be done over the product by our team which takes 2 days time.
</p>
    <p>8. If product is found damage/defective by our team, We will try to arrange a replacement; however, it depends on the availability of the product.
</p>
<p>In some cases, where our Logistic Service Provider doesn’t provide reverse pickup facility, customer will have to send the product on his own only through India post at the below mentioned address after the request for reverse pickup is raised:
</p>

<p>Ekmatra Technology Pvt Ltd</p>
<p>Address</p>
<p>
    904, Ekmatra Technology Pvt Ltd, DLH Park, Rani sati marg, S.V Road, Goregaon West, Mumbai - 400064
</p>

<p>

Once sent, customer needs to share the Courier slip along with the following bank details at 
<a href = "mailto: support@ekmatra.store">(support@ekmatra.store)</a> :
</p>

<p>
    1. Account number
</p>
<p>
    2. Account holder name (Same as registered with Ekmatra.store)
</p>
<p>
    3. IFSC Code
</p>

<p>
    Incase, after receiving the product if we found any discrepancy by our Quality inspection team, we will re-ship product to the customer and in that case customer will have to bear the courier charges for re-shipment in order to receive the product. No courier charges for sending the product will be reimbursed.
</p>

<p>Other Terms and Conditions</p>
<p>1. Products marked as "non-returnable" on the product detail page cannot be returned.</p>
<p>
    2. Product Purchase under clearance sale will not be covered under Return policy.
</p>
<p>
    3. Products sold as combo can’t be returned individually.
</p>

<p>
    Refunds
</p>

<p>

Once the order gets cancelled, amount will be refunded to the customer based on the payment mode chosen by the customer at the time of placing the order.
</p>
<p>Credit/Debit Card/Net Banking/Wallets – 2-4 business days (as per respective bank policies)</p>

<p>If transaction is done by through NEFT and Cheque then customer need to share below mentioned details at our Email Id 
    <a href = "mailto: support@ekmatra.store">(support@ekmatra.store)</a> from registered e-mail id.
</p>
<p>1. Account number</p>
<p>2. Account Holder name</p>
<p>3. IFSC Code</p>
<p>After receiving the required information for refund, refund will be processed in 2 business days and same will reflect in your account in another 2-4 business days. For EMI payment, refund will be credited in 6-8 business days after cancellation. Refunds may take some extra time depending on respective bank policies.
</p>
</div>