<div class="sec-common sec-bg sec-padding">
    <div class="container">
<!-- return-wrap -->
<div class="content mt-5 px-0 pb-0 rounded-wrap-btm">
    <div class="category-list cart-list">
       <p class="primary-color px-5 order-no">Order ID #2245887</p>
       <div class="category-list-detail">
          <div class="product-category-info">
             <span class="product-thumb-img"><img src="assets/images/tshirt.png" alt="Product"></span>
             <div class="category-info-txt cart-info-txt">
                <h5>iPhone 6s Mobile</h5>
                <p class="price-label">Rs <span>180/-</span> </p>
                <p class="price-label branding-type-label">Min Qty: <span>1 Pcs</span> </p>
             </div>
          </div>
          <div class="cart-remove-col">
             <p>Delivered</p>
             <p>(Feb 17, 2020)</p>
          </div>
       </div>
       <div class="category-list-detail d-block">
          <h5>Reason of Return/Repalce</h5>
          <p>Incorrect Product or color Ordered.</p>
       </div>
       <div class="category-list-detail d-block">
          <h5>Additional Comment </h5>
          <p>Incorrect Product or color Ordered.</p>
       </div>
    </div>
    <div class="btm-btn-wrap">
       <button class="cart-btn proceed-btn" routerLink="/process-completed">Confirm</button>
    </div>
 </div>
 <!-- return-wrap -->
 </div>
 </div>