<div class="sec-common sec-bg sec-padding">
    <div class="container">
       <!-- branding-types -->
       <div class="content px-5 mt-5">
          <div class="branding-type">
             <div class="row mt-3">
                 <div class="col-md-12 text-center">
                     <img src="assets/images/branding.jpg" class="img-fluid" alt="Branding">
                 </div>
                 <div class="col-md-12 text-center">
                     <h3 class="font-weight-light">Do You Want Branding On This Product?</h3>
                    <button class="btn iot-btn-primary mr-3" (click)="setBranding('yes')">Yes</button>
                    <button class="btn iot-btn-alternate" (click)="setBranding('no')">No</button>
                 </div>
             </div>
          </div>
       </div>
       <!-- branding-types -->
    </div>
 </div>