<div class="sec-common catalogue-sec sec-bg sec-padding">
   <!-- profile-wrap -->
   <div class="sec-wrapper">
      <div class="container container-large">
         <div class="profile-wrap">
            <div>
               <h3 class="inner-sec-title mb-4">Profile Setting</h3>
            </div>
            <!-- profile-setting -->
            <div class="content p-0">
               <a href="javascript:(void)" routerLink="/profile-details" class="profile-link">
                  <div class="profile-detail-wrap">
                     <div class="profile-icon">
                        <img src="assets/images/profile-1.svg" alt="">
                     </div>
                     <div class="profile-heading-wrap">
                        <div>
                           <h4>Your Profile</h4>
                           <p>Modify Your Profile</p>
                        </div>
                        <span class="material-icons">keyboard_arrow_right</span>
                     </div>
                  </div>
               </a>
               <a href="javascript:(void)" routerLink="/buisness-profile" class="profile-link">
                  <div class="profile-detail-wrap">
                     <div class="profile-icon">
                        <img src="assets/images/profile.svg" alt="">
                     </div>
                     <div class="profile-heading-wrap">
                        <div>
                           <h4>Business Profile</h4>
                           <p>Modify Your Business Profile</p>
                        </div>
                        <span class="material-icons">keyboard_arrow_right</span>
                     </div>
                  </div>
               </a>
               <a href="javascript:(void)" routerLink="/manage-team" class="profile-link">
                  <div class="profile-detail-wrap">
                     <div class="profile-icon">
                        <img src="assets/images/team(1).svg" alt="">
                     </div>
                     <div class="profile-heading-wrap">
                        <div>
                           <h4>Your Team</h4>
                           <p>Manage People in your team.</p>
                        </div>
                        <span class="material-icons">keyboard_arrow_right</span>
                     </div>
                  </div>
               </a>
               <a href="javascript:(void)" routerLink="/language-preferance" class="profile-link">
                  <div class="profile-detail-wrap">
                     <div class="profile-icon">
                        <img src="assets/images/Language.svg" alt="">
                     </div>
                     <div class="profile-heading-wrap">
                        <div>
                           <h4>Language Preference</h4>
                           <p>Language Preference</p>
                        </div>
                        <span class="material-icons">keyboard_arrow_right</span>
                     </div>
                  </div>
               </a>
               <a href="javascript:(void)" routerLink="/address-list" class="profile-link">
                  <div class="profile-detail-wrap">
                     <div class="profile-icon">
                        <img src="assets/images/address.svg" alt="">
                     </div>
                     <div class="profile-heading-wrap">
                        <div>
                           <h4>Your Addresses</h4>
                           <p>List of all your addresses</p>
                        </div>
                        <span class="material-icons">keyboard_arrow_right</span>
                     </div>
                  </div>
               </a>
               <a href="javascript:(void)" routerLink="/change-password" class="profile-link">
                  <div class="profile-detail-wrap">
                     <div class="profile-icon">
                        <img src="assets/images/Change-Password.svg" alt="">
                     </div>
                     <div class="profile-heading-wrap">
                        <div>
                           <h4>Change Password</h4>
                           <p>Update you password</p>
                        </div>
                        <span class="material-icons">keyboard_arrow_right</span>
                     </div>
                  </div>
               </a>
            </div>
            <!-- profile-setting -->
         </div>
      </div>
   </div>
   <!-- profile-wrap -->
</div>